.intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    background-color: #C6D9DD;
    border-radius: 40px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    width: clamp(20.5rem, 16.115rem + 19.487vw, 39.5rem);
    gap: 24%;
    padding-bottom: 30px;
    justify-content: flex-end;
    align-items: flex-start;
}

.intro-text h1 {
    font-size: clamp(2.5rem, 2.154rem + 1.538vw, 4rem);
    font-weight: 800;
    line-height: clamp(3.25rem, 2.846rem + 1.795vw, 5rem);
}

.intro-text p {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}  

.intro__button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #9D097C;
    border: 1px solid;
    border-radius: 32px;
    padding: 30.5px 60px;
    margin-top: 25px;
}

.button-hover:hover{
    background-color: #CD1BA5;
    border-color: #CD1BA5;
    color: white;
}

.slider {
    display: flex;
    overflow: hidden;
    border-radius: 40px;
    width: 44.5%;
    height: 42vh;
}

.slider-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    border-radius: 40px;
}

.slider-item img {
    width: 100%;
    height: 100%;
    min-width: 360px;
    position: relative;
    border-radius: 40px;
    object-fit: cover;
    object-position: right;
}

.slider-components {
    display: flex;
    align-items: center;
    gap: 4px;
}

.slider-buttons {
    display: flex;
    gap: 30px;
}

.slider-prev, .slider-next {
    /* background-color: #ff6d84; */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    position: relative;
    align-items: stretch;
}

.slider-prev {
    left: 10px;
    width: 40px;
        height: 40px;
        border-radius: 32px;
        background-color: white;
}

.slider-next {
    right: 10px;
    width: 40px;
        height: 40px;
        border-radius: 32px;
        background-color: white;
}

/* Стили для пагинации */
.slider-pagination {
    display: flex;
    justify-content: center;
}

.slider-pagination button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.slider-pagination button.active {
    /* background-color: #ff6d84; Красный цвет для активной точки */
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="12" cy="12" r="4" fill="%239D097C"/><circle cx="12" cy="12" r="11.5" stroke="%239D097C"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 0.3s ease;
}

.dot {
    width: 4px;
    height: 4px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%222%22%20cy%3D%222%22%20r%3D%222%22%20fill%3D%22%2332334C%22%2F%3E%3C%2Fsvg%3E');
    background-size: auto;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Чтобы слайды не выходили за пределы */
.slider {
    display: flex;
    position: relative;
    overflow: hidden;
}
.slider-pagination {
    display: flex;
    justify-content: flex-start;
    overflow: hidden; /* Прячем лишние кнопки */
    position: relative;
}

.slider-pagination .dots-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Плавный сдвиг точек */
    align-items: center;
}

.slider-pagination button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 360px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }

    .slider {
        width: 360px;
        height: 314px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        display: flex;
        gap: 10px;
        position: relative;
    }

    .slider-item {
        flex: 0 0 80%;
        scroll-snap-align: start;
    }

    .slider-item img {
        width: 100%;
        border-radius: 20px;
    }

    .slider-buttons {
        display: none;
    }
    .slider-prev, .slider-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        padding: 10px;
        z-index: 10;
    }

    .slider-prev {
        left: 10px;
    }

    .slider-next {
        right: 10px;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .intro-text {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .text-box {
        padding: 24px 16px 0 16px;
    }

    .text-box p{
        margin-top: 12px;
    }

    .intro__button {
        width: 100%;
    }
}