.business {
    margin: clamp(5rem, 2.981rem + 8.974vw, 13.75rem) clamp(1rem, -4.481rem + 24.359vw, 24.75rem) clamp(5rem, 2.981rem + 8.974vw, 13.75rem) clamp(1rem, -4.481rem + 24.359vw, 24.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
}

.business__title {
    font-family: Gilroy;
    font-size: clamp(1.5rem, 1.212rem + 1.282vw, 2.75rem);
    font-weight: 700;
    line-height: clamp(2rem, 1.712rem + 1.282vw, 3.25rem);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0;
}

.business-card {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.business__slider {
    display: flex;
    overflow: hidden;
    max-width: 1130px;
    min-width: 360px;
    gap: 24px;
}

.business__slide {
    flex: 0 0 calc(33.33% - 16px);
}

/* .card {
    width: 360px;
    height: 398px;
    z-index: -1;
}


.business-card__image {
    width: 360px;
    height: 398px;
    border-radius: 24px;
} */


.card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 360px;
    height: 398px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 24px;
    gap: 16px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 24px; /* Сохраняем скругление */
    display: block;
    transition: transform 0.3s ease;
}

.card::before {
    content: "Подробнее";
    position: absolute;
    background-color: #FA9397;
    color: white;
    border-radius: 50%;
    width: 120%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.card:hover::before {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.card:hover img {
    transform: scale(1.05);
}

.business-card__location,
.business-card__description {
    font-size: 16px;
    line-height: 22px;
    
}

.business__pagination {
    display: flex;
    gap: 25px;
}

.business-card__title {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.business-button {
    width: 40px;
    height: 40px;
    padding: 12px;
    gap: 10px;
    border-radius: 32px;
    opacity: 0px;
    background-color: #FFF0F5;
}

.slider-pagination {
    display: flex;
    justify-content: flex-start;
    overflow: hidden; /* Обрезаем лишние кнопки */
    width: 60px; /* Под 4 кнопки */
    position: relative;
}

.slider-pagination .dots-wrapper {
    display: flex;
    transition: margin-left 0.5s ease; /* Плавный сдвиг кнопок */
    will-change: margin-left;
}

.slider-pagination button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media (max-width: 1100px) {
    .business {
        min-width: 360px;
        margin-left: 0;
        margin-right: 0;
        gap: 0;
    }

    .business__slider {
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        display: flex;
        gap: 0;
    }

    .business__slide {
        scroll-snap-align: start;
    }

    .business-card {
        padding: 10px;
    }

    .business-card__image {
        width: 100%;
        height: auto;
    }

    /* Скрываем стандартный скроллбар */
    .business__slider::-webkit-scrollbar {
        display: none;
    }

    .business__slider {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .business-card__location,
    .business-card__description {
        font-size: 16px;
        line-height: 22px;
        overflow: hidden;
        max-height: 66px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .card {
        width: clamp(15rem, 13.269rem + 7.692vw, 22.5rem);
        height: clamp(16.25rem, 14.26rem + 8.846vw, 24.875rem);
    }


}


@media (max-width: 360px) {
        .business {
            min-width: 360px;
            align-items: flex-start;
            margin-left: 0;
            margin-right: 0;
            gap: 0;
        }
    
        .business__slider {
            width: 344px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            display: flex;
            gap: 0;
        }
    
        .business__slide {
            flex: 0 0 70%;
            scroll-snap-align: start;
        }
    
        .business-card {
            padding: 10px;
        }
    
        .business-card__image {
            width: 100%;
            height: auto;
        }
    
        .business-display {
            display: none;
        }
    
        /* Скрываем стандартный скроллбар */
        .business__slider::-webkit-scrollbar {
            display: none;
        }
    
        .business__slider {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        
        .business-card__location,
        .business-card__description {
            font-size: 16px;
            line-height: 22px;
            overflow: hidden;
            max-height: 66px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .card {
            width: 240px;
            height: 260px;
        }

    
}