.learning {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
    align-self: center;
}

.learning-title {
    font-family: Gilroy;
    font-size: clamp(1.5rem, 1.212rem + 1.282vw, 2.75rem);
    font-weight: 700;
    line-height: clamp(2rem, 1.712rem + 1.282vw, 3.25rem);
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0;

}

.learning__cards {
    display: flex;
    gap: 24px;
}

.learning__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: clamp(15rem, 13.269rem + 7.692vw, 22.5rem);
    height: clamp(16.25rem, 16.106rem + 0.641vw, 16.875rem);
    padding: clamp(1.5rem, 1.385rem + 0.513vw, 2rem);
    box-shadow: 0px 12px 32px 0px #0000001F;
    border-radius: 24px;
}

.learning__card-gap {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.learning__card-title {
    font-family: Gilroy;
    font-size: clamp(1rem, 0.942rem + 0.256vw, 1.25rem);
    font-weight: 700;
    line-height: clamp(1.375rem, 1.288rem + 0.385vw, 1.75rem);
    text-align: left;
}

.learning__card-text {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.learning__card-button {
    width: 118px;
}

.learning__card:has(.learning__card-button:hover) {
    box-shadow: 0px 4px 12px 0px #0000001F;
}



@media screen and (max-width: 360px) {
    .learning {
        align-items: flex-start;
        max-width: 100%;
        margin-left: 16px;
    }

    .learning__cards {
        display: flex;
        max-width: 100%;
        gap: 16px;
        overflow-x: auto; /* Позволяет горизонтальную прокрутку */
        scroll-snap-type: x mandatory; /* Добавляет плавное прилипание */
        -webkit-overflow-scrolling: touch; /* Улучшает прокрутку на iOS */
        overflow: hidden;
    }

    .learning__card {
        /* flex: 0 0 80%; Карточка занимает 80% ширины экрана */
        scroll-snap-align: center; /* Центрирование карточки при прокрутке */
        min-width: 240px;
        
    }

    .learning__card-button {
        width: 100%;
    }

}



